@import "./variables";
@import "./colors";
@import "./mixins";
@import "./media";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}


.security_banner {
  @include cmn_flex_items;
  position: relative;
  width: 100%;
  min-height: 85vh;
  background: linear-gradient(rgba(0, 27, 52, 0.84), rgba(0, 27, 52, 0.84)),
    url(../image/it-banner.jpg) no-repeat center;
  background-size: cover;
  padding: 2rem 0;
  text-align: center;
  color: color(pure-white);
  @include mobile-view {
    min-height: 50vh;
  }
  .banner_text{
  max-width: 600px;
  margin: 0 auto;
  h2 {
    font-size: 36px;
    margin-bottom:30px ;
    font-weight: 600;
    @include ipad-view {
      font-size: 45px;
      max-width: 100%;
    }
    @include tab-view {
      font-size: 30px;
    }
    @include mobile-view {
      font-size: 25px;
    }
  }
}
}

.security_standards_section{
  padding: 50px 0;
  position: relative;
  text-align: center;
  @include mobile-view{
    padding: 30px 5px;
  }
  h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    @include tab-view{
      font-size: 23px;
    }
  }
  .security_info_box{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-top: 120px;
   @include mobile-view{
    margin-top: 70px;
   }
    li{
      position: relative;
      width: 46%;
    margin: 0 2%;
    padding: 25px 50px;
    background: color(dark-white);
    border-radius: 10px;
    color: color(title-color);
    
    @include ipad-view{
      width: 100%;
      padding: 10px 30px;
      &:nth-child(1){
        margin-bottom: 100px;
        @include mobile-view{
          margin-bottom: 70px;
        }
      }
    }
    img{
      object-fit: contain;
      position: absolute;
      margin: 0 auto;
      top: -70px;
      left: 0;
      right: 0;
      border-radius: 50%;
      padding: 10px;
      background: color(pure-white);
      border: 2px solid color(secondary-naviblue);
      @include mobile-view{
        width: 100px;
        top: -50px;
      }
    }
    h6{
      margin: 60px auto 25px;
      font-size: 18px;

    }
    p{
      font-size: 15px;
      line-height: 27px;
    }
    
    }
  }
}

.physical_infrastructure_sec{
  position: relative;
  padding: 50px 0;
  background-color: color(dark-white);
  @include mobile-view{
    padding: 30px 5px;
  }
  .title_text{
    text-align: center;
    h2{
      @include title-text;
     font-size: 30px;
    }
    p{
      font-size: 15px;
    line-height: 25px;
    }
    }
    ul{
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
      row-gap: 20px;
      @include tab-view{
        flex-wrap: wrap;
      }
      li{
        width: 32%;
        padding: 30px 25px;
        box-shadow: 0px 13px 20px color(white-boxshadow);
        display: flex;
        background: color(pure-white);
        border-radius: 10px;
        margin: 1%;
        @include tab-view{
          width: 100%;
          
          margin: 0;
        }
        img{
          max-width: 50px;
          object-fit: contain;
        }
        p{
          margin-left: 20px;
          font-size: 16px;
        }
      }
    }
}

.infrastructure_bjectives{
  padding: 50px 0;
  position: relative;
  @include mobile-view{
    padding: 30px 5px;
  }
  .infrastructure_title{
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
    @include mobile-view{
      font-size: 16px;
    }
  }
  .infrastructure_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @include ipad-view{
      flex-wrap: wrap;
    }
  }
  .infrastructure_slider_main{
    display: flex;
    width: 41%;
    position: relative;
    padding-bottom: 60px;
    @include ipad-view{
      width: 100%;
    }
  
    .infrastructure_slider_item {
      position: relative;
      width: 100%;
      min-height: 473px;
      margin: 5px;
      @include ipad-view {
        min-height: auto;
      }
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        display: inline-block;
        margin-bottom: 10px;
        border-radius: 10px;
        @include ipad-view{
          width: 47%;
          margin-right: 10px;
          float: left;
        }
        @include mobile-view{
          width: 100%;
          margin-right: 0;
        }
      }
    }
    .slick-dots {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      @include mobile-view {
        bottom: 10px;
      }
      .slick-active {
        button {
          background: color(pure-orange);
          border: 0;
        }
      }
      li {
        display: flex;
        align-items: center;
        margin: 0 2px;
        padding: 0;
        height: 20px;
        width: 20px;
        button {
          background-color: color(primary-color);
          border: 1px solid color(primary-color);
          border-radius: 50%;
          opacity: 1;
          display: block;
          height: 15px;
          width: 15px;
          outline: none;
          line-height: 0;
          font-size: 0;
          cursor: pointer;
        }
      }
    }
  }
  .text_box_main{
    width: 58%;
    display: flex;
    @include ipad-view{
      width: 100%;
    }
  }
  .text_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      height: auto;
      flex-wrap: nowrap;
      display: flex;
      padding: 40px 10px;
      
      &:nth-child(odd){
        border-right: 1px solid color(white-border);
        border-bottom: 1px solid color(white-border);
      } 
      &:nth-child(even){
        border-bottom: 1px solid color(white-border);
      } 
      &:nth-last-child(-n+2){
        border-bottom: 0;
      }
      @include mobile-view{
        width: 100%;
        border-bottom: 1px solid color(white-border) !important;
        border-right: 0 !important;
      }
      img{
        height: 34px;
        max-width: 34px;
        object-fit: contain;
        margin-right: 20px;
        @include mobile-view{
          width: 25px;
          height: 25px;
        }
      }      
      h6{
        font-size: 18px;
        text-transform: initial;
        font-weight: 700;   
        color: color(gray-font);    
        margin-bottom: 5px; 
      } 
      p{
        margin-bottom: 0;
        color: color(font-dark-gray);
        font-size: 16px;
        line-height: 27px;
      }     
    }
  }
}

.infrastucture_tabs_main{
  position: relative;
  padding: 50px 0;
  background:url(../image/tab-bg.jpg)no-repeat center;
  background-size: cover;
  @include mobile-view{
    padding: 30px 5px;
  }
  .tabing_radius{
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  .nav-tabs{
    width: 100%;
    display: flex;
    border-bottom: 0;
    justify-content: space-between;
    margin-bottom: 5px;
    .nav-item{
      width: 33.33%;
      &:last-child{
        .nav-link{
        border-right: 0;
       }
      }
      .nav-link{
        padding: 30px 3px;
      width: 100%;
      height: 100%;
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 6px solid color(primary-color);
      display: block;
      font-size: 18px;
      font-weight: 700;
      background: color(pure-white) ;
      color: color(font-dark-gray);
      @include tab-view{
        padding: 15px 3px;
      }
      @include mobile-view{
        font-size: 15px;
      }
      &.active{
        background: color(pure-orange) ;
        color: color(pure-white);
      }
      }
    }
  }
  .tabing_main{
    display: flex;
    width: 100%;
  }
  .tab-content{
    background: color(secondary-white);
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    .tab-pane{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 20px;
      display: none;
      @include tab-view{
        flex-wrap: wrap;
      }
     &.active{
      display: flex;
     }
      .img_box{
        width: 33%;
        min-height: 371px;
        display: flex;       
        img{
          width: 100%;
          max-height: 100%;
          border-radius: 45px;
        }
        @include tab-view{
          width: 100%;
        }
      }
      .content_box{
        width: 67%;
        height: 100%;
        padding-left: 50px;
        overflow-y: auto;
        @include tab-view{
          width: 100%;
        }
        ul{
          list-style:disc;       
        li{
          font-weight: 400;
          font-size: 16px;
          line-height: 33px;
          color: #646464;
          @include mobile-view{
            font-size: 15px;
          }
        }
      }
      }
    }
  }
}
}
.security_control_sec{
  position: relative;
  background-color: color(pure-white);
  padding: 50px 0;
  @include mobile-view{
    padding: 30px 5px;
  }
  .title_text{
    h2{
      @include title-text;
      font-size: 30px;
     }
  }
  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    li{
      display: flex;
      align-items: center;
      width: 30%;
      padding: 30px 25px;
      margin: 1.5%;
      background: color(pure-white);
      box-shadow: 0px 13px 20px color(white-boxshadow);
      border-radius: 10px;
      &:hover{
        transition: 0.3s all;
        background-color: color(secondary-naviblue);
        color: color(pure-white);
        img{
          filter: brightness(0) invert(1);
        }
      }
      @include ipad-view{
        width: 47%;
        margin: 0 0 15px 0;
      }
      @include mobile-view{
        width: 100%;
      }
      img{
        display: block;
      }
      span{
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
}

.access_data_sec{
  position: relative;
  padding: 50px 0;
  background: url(../image/security-3banner.jpg)no-repeat center;
  background-size: cover;
  width: 100%;
  color: color(pure-white);
  @include mobile-view{
    padding: 30px 5px
  }
  .title_text{
    h2{
      @include title-text;
      font-size: 30px;
      color: color(pure-white);
     }
  }
  .text_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: color(pure-white);
    list-style: none;
    li{
      width: 31%;
      position: relative;
      margin: 1%;
      min-height: 181px;    
      .list_box{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 10px 25px;      
       height: 100%;
        background: color(pure-white);
        color: #333;       
        border-radius: 10px; 
        p{
          margin-bottom: 0;
          font-size: 20px;
          @include tab-view{
            font-size: 18px;
          }
        } 
      }         
      @include ipad-view{
        width: 48%;
      }
      @include tab-view{
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid color(white-border);
        margin: 0;
      }
    }
  }
}