/*----------------- responsive variations -----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}

.security_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 85vh;
  background: linear-gradient(rgba(0, 27, 52, 0.84), rgba(0, 27, 52, 0.84)), url(../image/it-banner.jpg) no-repeat center;
  background-size: cover;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}
@media (max-width: 575px) {
  .security_banner {
    min-height: 50vh;
  }
}
.security_banner .banner_text {
  max-width: 600px;
  margin: 0 auto;
}
.security_banner .banner_text h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .security_banner .banner_text h2 {
    font-size: 45px;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .security_banner .banner_text h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .security_banner .banner_text h2 {
    font-size: 25px;
  }
}

.security_standards_section {
  padding: 50px 0;
  position: relative;
  text-align: center;
}
@media (max-width: 575px) {
  .security_standards_section {
    padding: 30px 5px;
  }
}
.security_standards_section h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .security_standards_section h2 {
    font-size: 23px;
  }
}
.security_standards_section .security_info_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;
}
@media (max-width: 575px) {
  .security_standards_section .security_info_box {
    margin-top: 70px;
  }
}
.security_standards_section .security_info_box li {
  position: relative;
  width: 46%;
  margin: 0 2%;
  padding: 25px 50px;
  background: #f2f2f2;
  border-radius: 10px;
  color: #232323;
}
@media (max-width: 991px) {
  .security_standards_section .security_info_box li {
    width: 100%;
  }
  .security_standards_section .security_info_box li:nth-child(1) {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) and (max-width: 575px) {
  .security_standards_section .security_info_box li:nth-child(1) {
    margin-bottom: 70px;
  }
}
.security_standards_section .security_info_box li img {
  width: 128px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  margin: 0 auto;
  top: -70px;
  left: 0;
  right: 0;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  border: 2px solid #0090c5;
}
@media (max-width: 575px) {
  .security_standards_section .security_info_box li img {
    width: 100px;
    top: -50px;
  }
}
.security_standards_section .security_info_box li h6 {
  margin: 60px auto 25px;
  font-size: 18px;
}
@media (max-width: 575px) {
  .security_standards_section .security_info_box li h6 {
    margin: 45px auto 15px;
  }
}
.security_standards_section .security_info_box li p {
  font-size: 15px;
  line-height: 27px;
}

.physical_infrastructure_sec {
  position: relative;
  padding: 50px 0;
  background-color: #f2f2f2;
}
.physical_infrastructure_sec .title_text {
  text-align: center;
}
.physical_infrastructure_sec .title_text h2 {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 700;
}
.physical_infrastructure_sec .title_text p {
  font-size: 15px;
  line-height: 25px;
}
.physical_infrastructure_sec ul {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .physical_infrastructure_sec ul {
    flex-wrap: wrap;
  }
}
.physical_infrastructure_sec ul li {
  width: 32%;
  padding: 30px 25px;
  box-shadow: 0px 13px 20px #e2e2e2;
  display: flex;
  background: #fff;
  border-radius: 10px;
  margin: 1%;
}
@media (max-width: 767px) {
  .physical_infrastructure_sec ul li {
    width: 100%;
    margin: 0;
  }
}
.physical_infrastructure_sec ul li img {
  max-width: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
.physical_infrastructure_sec ul li p {
  margin-left: 20px;
  font-size: 16px;
}/*# sourceMappingURL=data-security.css.map */